body .layer-ext-myskin .layui-layer-title{color: #333}
body  .layui-layer-btn0{background-color: #FF6B6B !important;border-color:#FF6B6B !important;color: white}
body   .layui-layer-btn1{background-color: #6b9dbb !important;border-color:#6b9dbb !important;color: white}
body   .layui-layer-btn2{background-color: #EDA849 !important;border-color:#EDA849 !important;color: white !important;}
