*, body {
    font-family: 'PingFang SC', Helvetica, 'YouYuan', 'microsoft yahei', sans-serif;
}

body {
    margin-bottom: 30px;
}

a {
    color: #202020;
}

/* START NAVIGATION */
.sticky-navigation {
    opacity: 0;
}

.navbar-default {
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    margin: 0;
    padding: 0;
}

.navbar-default .navbar-brand {
    color: #212227;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    padding: 10px 0 0 12px;
}

.navbar-default .navbar-nav li a {
    color: #202020;
    font-size: 13px;
    font-weight: bold;
    line-height: 45px;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav li a:hover {
    color: #ec7063;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ec7063;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ec7063;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #ec7063;
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent
}

/* END NAVIGATION */

/*user*/
.form-horizontal .control-label {
    padding-top: 0;
    margin-bottom: 10px;
}

.form-horizontal.templatemo-payment-form .radio.templatemo-no-padding-top {
    padding-top: 0;
}

.templatemo-form-list-container {
    max-width: 600px;
}

.templatemo-input-icon-container {
    position: relative;
}

.templatemo-input-icon-container .fa {
    color: gray;
    position: absolute;
    left: 10px;
    top: 10px;
}

.templatemo-input-icon-container input,
.templatemo-input-icon-container textarea {
    padding-left: 30px;
}

.base-bg-gray {
    background-color: #eee;
}

.base-bg-gray h1 {
    color: #868686;
}

.templatemo-bg-image-1, .templatemo-bg-image-2 {
    background-size: cover;
}

#savebtn {
    width: 300px;
    background-color: #f3715c;
    border-color: #f3715c;
    color: #fff;
}

.control-wrapper label.fa-label {
    position: absolute;
    left: 4px;
    top: 6px;
}

.control-wrapper {
    position: relative;
    padding-left: 40px;
}

.control-wrapper label {
    line-height: 40px;
}

.control-wrapper input {
    height: 50px;
}

.control-wrapper label.fa-label {
    position: absolute;
    left: 4px;
    top: 6px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group a {
    line-height: 34px;
}

.reg-page {
    color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    box-shadow: none;
    padding-bottom: 10px;
}

.filebtn{
    width:80px;
    height:35px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:inline-block;
    border:1px solid #ccc;
    line-height:35px;
    background: #ec7063;
    color:white;
    text-align:center;
    overflow:hidden;
    position:relative;
}

#image{
    font-size: 118px;
    width:80px;
    height:35px;
    cursor: pointer
;position: absolute;
    right: 0;top: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}

